{% if host_list %}
<table class="ui fixed single line very compact large selectable table">
  <thead>
    <tr>
      <td class="three wide"><strong>Address</strong></td>
      <td><strong>Hostname</strong></td>
      <td class="two wide"><strong>Status</strong></td>
      <td class="three wide"><strong>Last Change</strong></td>
      <td class="two wide center aligned"><strong>Updated</strong></td>
    </tr>
  </thead>
  <tbody>
    {% for host in host_list %}
    <tr class="{{ host.get_status_display }}">
      <td class="selectable">
        <a href="{% url 'monitor:host_detail' host.id %}"><strong>{{ host.ipv4 }}</strong></a>
      </td>
      <td class="selectable">
        <a href="{% url 'monitor:host_detail' host.id %}"><strong>{{ host.name|upper }}</strong></a>
      </td>
      <td class="selectable">
        <a href="{% url 'monitor:host_detail' host.id %}">
          {% if host.status < host.WARNING %}
          <i class="check icon"></i>
          {% else %}
          <i class="x icon"></i>
          {% endif %}
          <strong>{{ host.status_info }}</strong>
        </a>
      </td>
      <td class="selectable">
        <a
          href="{% url 'monitor:host_detail' host.id %}"><strong>{{ host.last_status_change|date:"d/m/y - H:i" }}</strong></a>
      </td>
      <td class="selectable center aligned">
        <a href="{% url 'monitor:host_detail' host.id %}"><strong>{{ host.last_check|date:"H:i" }}</strong></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No hosts are available.</p>
{% endif %}