{% if host_list %}
<table class="ui fixed single line very compact large selectable table">
  <thead>
    <tr>
      <th class="three wide"><strong>Address</strong></th>
      <th><strong>Hostname</strong></th>
      <th class="two wide"><strong>Status</strong></th>
      <th class="three wide"><strong>Last Change</strong></th>
      <th class="one wide"><strong>Mon</strong></th>
    </tr>
  </thead>
  <tbody>
    {% for host in host_list %}
    <tr class="{{ host.get_status_display }}">
      <td class="selectable">
        <a href="{% url 'monitor:host_detail' host.id %}"><strong>{{ host.ipv4 }}</strong></a>
      </td>
      <td class="selectable">
        <a href="{% url 'monitor:host_detail' host.id %}"><strong>{{ host.name|upper }}</strong></a>
      </td>
      <td class="selectable">
        <a href="{% url 'monitor:host_detail' host.id %}"><strong>{{ host.status_info }}</strong></a>
      </td>
      <td class="selectable">
        <a
          href="{% url 'monitor:host_detail' host.id %}"><strong>{{ host.last_status_change|date:"d/m/y - H:i" }}</strong></a>
      </td>
      <td class="selectable">
        <a href="{% url 'monitor:host_detail' host.id %}"><strong>{{ host.last_check|date:"H:i" }}</strong></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No hosts are available.</p>
{% endif %}